<template>
<div>

  <h1>r-sat</h1>

  <p>This project is <a href="https://gitlab.com/mortaljoe/r-sat">r-sat</a>,
    primarily made to play with <code>rust</code> and <code>wasm</code>.
    I make no claims to elegance or importance; naive DPLL is not a competitive algorithm.
    But feel free to contact me with questions or comments.</p>

  <p>The project uses the following major tech: <code>rust</code> (a <code>c++</code>-like language),
    <code>wasm</code> (compile rust to use with javascript), <code>typescript</code> (javascript
    with some static typing), <code>vue</code> (javascript framework, like angular or react).</p>

  <p>To run or use this project yourself, see the
    <a href="https://gitlab.com/mortaljoe/r-sat/blob/master/README.md">README</a>.</p>


  <div id="joe-div" class="flex">
    <div>
      <h1 id="joe-heading" class="flex-item">Joe</h1>
      <p>joe@mortalarc.com</p>
    </div>
    <img id="joe-img" class="flex-item" :src="joeImg">
  </div>

  <p>I'm Joe Mitchell. I am a physicist programmer, condensed matter physics PhD from
    University of Maryland in 2014. I studied statistical mechanics dualities, on graph networks,
    using Grassmann variables, and embedded on different 2D topologies. I like duality
    and I like graph networks. Lately, I've been primarily a developer, game prototypes
    with <a href="https://www.gabesblog.com">Noetic Games</a>, air traffic control
    software, communication risk analysis, maintaining genomic databases and websites.
    On the side, I occasionally work on projects like this or small games.
    I'm not much of a web-dev, but at least I can pretend.
    My preferred languages are <code>typescript</code>, <code>c++</code>,
    <code>python</code> (and now <code>rust</code>).</p>

  <p>My passion project is <a href="https://mortalarc.com">MortalArc</a>.
    It is a text mining software to "plot" history texts. It uses natural language processing
    to extract and rectify person, place, and time, then links them together to make a
    compelling timeline of the movements of major characters in a text. My vision is for this
    to be used in a classroom to give a birds-eye view of the evens of a history text before
    diving into the material. Depending on how successful we are at linking events from different
    texts (and overall accuracy), this could be extended to help scholars find relevant
    texts for people or events and make a Google Maps-like interactive display of history itself.</p>

</div>
</template>



<script lang='ts'>
import { Component, Vue } from 'vue-property-decorator'

import joeImgImport from '@/assets/JoePic.jpg'


@Component({})
export default class About extends Vue {

  private get joeImg() { return joeImgImport }

}
</script>



<style scoped>

#joe-div {
  margin: 0px;
}

#joe-heading {
  margin-left: 0px;
  margin-top: 0px;
}

#joe-img {
  margin: 0px;
  max-height:256px;
}

</style>
