<template>
<div>
  <div class="buttons">
    <button class="button" ref="playpause" toggle :disabled="!isEnabled">Play/Pause</button>
    <button class="button" ref="restart" trigger :disabled="!isEnabled">Restart</button>
  </div>
  <div class="progress-bar">
    <progress ref="progress"
      step="2" type="range" :min="progressMin" :max="progressMax" :value="progressVal"
    />
  </div>
  <div class="flex">
    <h4 class="flex-item">Speed</h4>
    <input class="flex-item"
      step="2" type="range" :disabled="!isEnabled"
      :min="speedBarMin" :max="speedBarMax" v-model="currentSpeed"
    >
  </div>
</div>
</template>



<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import watchVueRef from './WatchVueRef'

@Component
export default class AnimControl extends Vue {

  @Prop({ default: null })
  private numSteps: number | null

  private stepNum = 0

  private progressMin = 0
  private progressMax = 100

  private speedBarMin = 0
  private speedBarMax = 100
  private currentSpeed = 50
  private frameTimeMin = 2
  private frameTimeMax = 202


  private get progressVal() {
    const val = (this.numSteps != null) ?
      this.stepNum / this.numSteps * (this.progressMax - this.progressMin) :
      0
    return String(Math.round(val))
  }

  private get isEnabled() { return this.numSteps != null }

  private get frameTime() {
    // Quadratic relationship
    const barFrac = (this.speedBarMax - this.currentSpeed) / (this.speedBarMax - this.speedBarMin)
    return (this.frameTimeMax - this.frameTimeMin) * barFrac * barFrac + this.frameTimeMin
  }


  @watchVueRef('progress')
  private progressBar: HTMLInputElement
  @watchVueRef('playpause')
  private playpauseButton: HTMLButtonElement
  @watchVueRef('restart')
  private restartButton: HTMLButtonElement

  @Watch('frameTime')
  private onFrameTimeChanged(newVal: number) {
    this.$emit('frameTimeChanged', newVal)
  }


  public nextStep() {
    this.stepNum += 1
  }
  public resetProgress() {
    this.stepNum = 0
  }


  public mounted() {

    this.resetProgress()

    // Play/pause button triggers animator play/pause
    this.playpauseButton.onclick = () => {
      this.$emit('playpause')
    }

    // Restart button sets animator back to beginning and plays
    this.restartButton.onclick = () => {
      this.$emit('restart')
    }

  }

}
</script>
