<template>
<div id="anim-page" class="flex">

  <div id="anim-graph" class="flex-item">
    <AnimGraph ref="anim-graph"
      :problem="problem"
      :forwardFrameTime="frameTime" :backwardFrameTime="frameTime" :decisionFrameTime="frameTime"
      @chooseNode="onChooseNode" @revertChoice="onRevertChoice()"
    />
  </div>

  <div id="node-choices" class="flex-item">
    <NodeChoices ref="node-choices"
      :nodeChoices="this.dpllGraph ? this.dpllGraph.nodeChoices : []"
    />
  </div>

  <div id="anim-control" class="flex-item flex-vertical">
    <div id="inner-anim-control" class="flex-item">

      <div class="flex">
        <h3 class="flex-item">Graph type</h3>
        <select class="flex-item" v-model="graphType">
          <option value="random">Random</option>
          <option value="watts-strongatz">Watts-Strongatz</option>
          <option value="barabasi-albert">Barabasi-Albert</option>
        </select>
      </div>

      <div class="flex">
        <h3 class="flex-item"># nodes:</h3>
        <input class="flex-item number-input" v-model="numNodes"/>
      </div>

      <div class="flex">
        <h3 class="flex-item"># clauses:</h3>
        <input class="flex-item number-input" v-model="numClauses"/>
      </div>

      <h3>{{'Graph is ' + solutionDisplay}}</h3>
      <div>
        <button @click="createProblem">New problem</button>
      </div>
      <div>
        <button @click="solveProblem">Solve problem</button>
      </div>

      <AnimControl
        ref="anim-control" :numSteps="numSteps"
        @playpause="onPlayPause" @restart="onRestart" @frameTimeChanged="onFrameTimeChanged"
      />

    </div>
  </div>

</div>
</template>



<script lang='ts'>
import { Component, Vue, Watch } from 'vue-property-decorator'
import * as RSat from 'r-sat'

import AnimGraph from './AnimGraph.vue'
import NodeChoices from './NodeChoices.vue'
import AnimControl from './AnimControl.vue'
import watchVueRef from './WatchVueRef'


@Component({ components: { AnimGraph, NodeChoices, AnimControl } })
export default class AnimPage extends Vue {

  private problem: RSat.Problem | null = null
  private solution: RSat.Solution | null = null
  private solutionLog: RSat.SolutionLog | null = null

  // Remember: ~4.3 is the crossover for simple random graphs
  private graphType: 'random' | 'watts-strongatz' | 'barabasi-albert' = 'random'
  private numNodes: number = 40
  private numClauses: number = 172

  private wsWidth = 4
  private wsRewireChance = 0.05

  private frameTime: number = 0


  private get numSteps() {
    if (!this.solutionLog) return null
    return this.solutionLog.steps.length
  }

  private onFrameTimeChanged(newVal: number) {
    this.frameTime = newVal
  }

  @Watch('graphType')
  private onGraphTypeChanged() {
    this.createProblem()
  }

  @Watch('numNodes')
  private onNumNodesChanged() {
    this.createProblem()
  }

  @Watch('numClauses')
  private onNumClausesChanged() {
    this.createProblem()
  }


  @watchVueRef('anim-graph')
  private dpllGraph: AnimGraph
  @watchVueRef('node-choices')
  private nodeChoices: NodeChoices
  @watchVueRef('anim-control')
  private animControl: AnimControl

  private get solutionDisplay(): string {
    return this.solution != null ? this.solution.status : '(click \'Solve Problem\')'
  }


  private createProblem() {

    if (this.numNodes > 3 && this.numClauses >= 0) {
      switch (this.graphType) {
        case 'random':
          this.problem = RSat.wSetupRandomProblem(this.numNodes, this.numClauses)
          break
        case 'watts-strongatz':
          this.problem = RSat.wSetupWattsStrongatzProblem(
            this.numNodes, this.numClauses, this.wsWidth, this.wsRewireChance
          )
          break
        case 'barabasi-albert':
          this.problem = RSat.wSetupBarabasiAlbertProblem(this.numNodes, this.numClauses)
          break
      }
      this.solution = null
      this.solutionLog = null
      if (this.animControl) this.animControl.resetProgress()
      if (this.nodeChoices) this.nodeChoices.reset()
    }

  }

  private solveProblem() {

    [this.solution, this.solutionLog] = RSat.wSolveProblemWithLog(this.problem)
    this.dpllGraph.colorAssignmentFromSolution(this.solution as RSat.Solution)

  }

  private onPlayPause() {
    if (this.solutionLog != null) {
      if (this.dpllGraph.isAnimationRunning) this.dpllGraph.pauseAnimation()
      else if (this.dpllGraph.isAnimationPaused) this.dpllGraph.resumeAnimation()
      else this.onRestart()
    }
  }

  private onRestart() {
    if (this.solutionLog != null) {
      this.animControl.resetProgress()
      this.nodeChoices.reset()
      this.dpllGraph.animateSolution(this.solutionLog)
    }
  }

  private onChooseNode(node: number, sign: boolean) {
    this.nodeChoices.addChoice(node, sign)
    this.animControl.nextStep()
  }

  private onRevertChoice(node: number, sign: boolean) {
    this.nodeChoices.revertLastChoice()
    this.animControl.nextStep()
  }


  public created() {

    this.createProblem()

  }

}
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

#anim-page {
  width: 100%;
  height: 100%;
  margin: 0px;
  text-align: center;
}

.number-input {
  width: 30px;
}

#anim-graph {
  width: 60%;
  height: 800px;
  text-align: left;
}

#node-choices {
  width: 20%;
  height: 800px;
  text-align: left;
}

#anim-control {
  width: 20%;
  height: 800px;
}

#inner-anim-control {
  width: 100%;
}

.graph-description {
  display: flex;
}

.description-item {
  margin: auto;
}

.sigma-scene, .sigma-labels, .sigma-mouse {
  position: absolute;
  left: 0;
  height: 800px;
}

</style>
