<template>
<div>

  <h1>Graph types</h1>

  <h2>Random</h2>

  <p>The graphs above (and the default for the animation on the main page) were generated as random
    3-SAT problems. This project chooses three non-equal nodes with random sign for each clause
    and may repeat clauses. Alternative random generation may be tweaked to allow equal nodes
    (which, depending on the relative sign of the repeat, either reduces clause size or eliminates the clause),
    allow above or below 3 nodes per clause (probabilistically 3). Neither of these tweaks changes
    the nature of the random problem and as I understand do not change the phase transition behavior.

  <img :src="satSvg" :onerror="this.src=satPng" class="plot"/>
  <img :src="timeSvg" :onerror="this.src=timePng" class="plot"/>

  <h2>Barabasi-Albert (<a href="https://en.wikipedia.org/wiki/Barabási–Albert_model">wiki</a>)</h2>

  <p>The Barabasi-Albert generator is inspired by the preferential attachment model seen on Wikipedia.
    Start with <katex-element expression="N"/> nodes and no clauses. Add clauses including nodes with
    probability proportional to the number of clauses the node is <emph>already involved in</emph>.
    So nodes that are a part of many clauses will be more likely to be involved in more.</p>

  <p>This creates a "scale-free" network of nodes, where a few nodes are involved in the majority of the
    clauses; the dynamics of the network are largely determined by these nodes. This pattern occurs
    naturally in many systems: a well-connected entity on social networks is likely to acquire more
    followers, dense areas attract more people than sparse, billionares gain more wealth than most.
    Networks like this have many interesting features, including "small world" features like the Kevin
    Bacon effect: it takes surprisingly few connections to go from any one node to any other.</p>

  <p>In the context of satisfiability, these networks are easier to solve than the completely random
    ones, at least with the DPLL implementation in this project. E.g. upon choosing one of the well
    connected nodes, you can satisfy a great number of clauses with one choice. At the same time,
    it is easier to get contradiction, as setting the "popular" nodes to one sign or the other
    tends to shrink the large number of leftover clauses, so that there are fewer ways to satisfy
    them with the remaining nodes.</p>

  <p>See the following graphs. The transition from SAT to UNSAT occurs earlier, maybe
    <katex-element expression="2.5"/>. And the time taken is much smaller, not even looking
    like an exponential increase.</p>

  <img :src="satBASvg" :onerror="this.src=satBAPng" class="plot"/>
  <img :src="timeBASvg" :onerror="this.src=timeBAPng" class="plot"/>

  <h2>Watts-Strongatz (<a href="https://en.wikipedia.org/wiki/Watts–Strogatz_model">wiki</a>)</h2>

  <p>The Watts-Strongatz graphs are near-metric, in the opposite direction from
    the Barabasi-Albert model. They are constructed by connecting nodes into clauses
    first in a ring and afterward rewiring connections with some probability.</p>

  <p>First, a pass from <katex-element expression="x_0"/> to <katex-element expression="x_N"/>
    is made, connecting nodes in some width, <katex-element expression="w"/>, into 3-node clauses
    with random signs. This pass includes some clauses that connect e.g.
    <katex-element expression="x_0,\;x_N"/>, so it forms a ring of clauses. After all
    <katex-element expression="M"/> clauses are created,
    each node in each clause is given some chance of rewiring to become any random node
    in the graph, with probability <katex-element expression="p_{\textrm{rw}}"/>.</p>

  <p>This creates a graph that is largely 1-dimensional but with some large metric-breaking
    jumps. Similar graphs could be constructed for any near-dimension, e.g. 2D would have
    a power line-like structure. This has some small world features like the previous graphs,
    but more structure generally.</p>

  <p>This is exactly the type of graph DPLL is <emph>terrible</emph> for.
    Choosing a node assignment will satisfy clauses, but likely concentrated locally in the ring.
    So if a sign is incorrectly chosen, that may not result in a null clause until much later
    when the area is revisited. At the least, the node choice policy would benefit from being
    more carefully chosen, perhaps choosing nodes that are well connected to the previous choices.</p>

  <p>The main animation and the graphs below are constructed with <katex-element expression="w=4"/>
    and <katex-element expression="p_{\textrm{rw}}=0.05"/>. The time taken to solve these
    graphs with the same DPLL algorithm is drastically increased, and indeed the exponential power
    increase with number of nodes is larger than the fully random case. The transition is also
    a bit earlier than the random graphs. I won't speculate on this; I don't know why, and
    it might not have a satisfactory answer. Besides which, the difference is less drastic than
    the Barabasi-Albert case.</p>

  <img :src="satWSSvg" :onerror="this.src=satWSPng" class="plot"/>
  <img :src="timeWSSvg" :onerror="this.src=timeWSPng" class="plot"/>

</div>
</template>



<script lang='ts'>
import { Component, Vue } from 'vue-property-decorator'

import satSvg from '@/assets/satPlot.svg'
import satPng from '@/assets/satPlot.png'
import timeSvg from '@/assets/timePlot.svg'
import timePng from '@/assets/timePlot.png'

import satBASvg from '@/assets/satPlotBA.svg'
import satBAPng from '@/assets/satPlotBA.png'
import timeBASvg from '@/assets/timePlotBA.svg'
import timeBAPng from '@/assets/timePlotBA.png'

import satWSSvg from '@/assets/satPlotWS.svg'
import satWSPng from '@/assets/satPlotWS.png'
import timeWSSvg from '@/assets/timePlotWS.svg'
import timeWSPng from '@/assets/timePlotWS.png'


@Component({})
export default class About extends Vue {

  private get satSvg() { return satSvg }
  private get satPng() { return satPng }
  private get timeSvg() { return timeSvg }
  private get timePng() { return timePng }

  private get satBASvg() { return satBASvg }
  private get satBAPng() { return satBAPng }
  private get timeBASvg() { return timeBASvg }
  private get timeBAPng() { return timeBAPng }

  private get satWSSvg() { return satWSSvg }
  private get satWSPng() { return satWSPng }
  private get timeWSSvg() { return timeWSSvg }
  private get timeWSPng() { return timeWSPng }

}
</script>
