<template>
<div class="node-choice-graph" ref="sigma-container"/>
</template>



<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { sigma } from 'sigma'

import { ChoiceNodeRenderer, ChoiceEdgeRenderer, NodeLabelRenderer } from './Renderers'


@Component
export default class NodeChoices extends Vue {

  private static xdiff: number = 10
  private static ydiff: number = 10
  private static size: number = 1

  private rowNodes: SigmaJs.Node[][] = []
  private currentRow: number = 0

  private sigmaInstance: sigma


  private createGraph() {

    if (this.sigmaInstance) this.sigmaInstance.kill()

    // Let's first initialize sigma:
    this.sigmaInstance = new sigma()
    // Add renderer
    const renderer = this.sigmaInstance.addRenderer({
      container: this.$refs['sigma-container'] as Element,
      type: 'canvas'
    })
    this.sigmaInstance.settings({
      defaultLabelColor: '#000',
      labelSize: 'ratio',
      labelSizeRatio: '1.5'
    })

    // Create base, zero-decision node
    const id = '-'
    this.sigmaInstance.graph.addNode({
      id,
      x: 0,
      y: 0,
      size: NodeChoices.size,
      type: 'choiceNodeRenderer',
      contradiction: false
    })
    const firstNode = this.sigmaInstance.graph.nodes(id)

    // Init rowNodes and currentRow with base node
    this.rowNodes = [ [firstNode] ]
    this.currentRow = 0

  }

  public addChoice(node: number, assignment: boolean) {

    // First calculate last node added
    const oldRow = this.rowNodes[this.currentRow]
    const oldNode = oldRow[oldRow.length - 1]

    // Increment to next row, creating it if necessary
    this.currentRow += 1
    if (this.rowNodes.length === this.currentRow) this.rowNodes.push([])

    // Move each node on the row to be appended to the left by x
    this.rowNodes[this.currentRow].forEach(n => {
      n.x = (n.x as number) - NodeChoices.xdiff / 2
    })

    // Add new node to the end of the current row
    const baseNodeId = 'n' + node + (assignment ? 'T' : 'F')
    const baseEdgeId = 'e' + node + (assignment ? 'T' : 'F')
    let nodeId = baseNodeId
    let edgeId = baseEdgeId
    let num = 1
    while (this.sigmaInstance.graph.nodes(nodeId) != null) {
      nodeId = baseNodeId + '-' + num
      edgeId = baseEdgeId + '-' + num
      num += 1
    }
    const x = NodeChoices.xdiff * this.rowNodes[this.currentRow].length / 2
    const y = NodeChoices.ydiff * this.currentRow
    const size = NodeChoices.size

    // Add new node
    this.sigmaInstance.graph.addNode({
      id: nodeId, x, y, size,
      label: String(node),
      type: 'choiceNodeRenderer',
      contradiction: false
    })

    const newNode = this.sigmaInstance.graph.nodes(nodeId)
    this.rowNodes[this.currentRow].push(newNode)

    // Add edge
    this.sigmaInstance.graph.addEdge({
      id: edgeId,
      source: oldNode.id,
      target: newNode.id,
      type: 'choiceEdgeRenderer',
      sign: assignment
    })
    this.sigmaInstance.refresh()

  }

  public revertLastChoice() {
    const currRow = this.rowNodes[this.currentRow]
    currRow[currRow.length - 1].contradiction = true
    this.currentRow = this.currentRow - 1
    this.sigmaInstance.refresh()
  }

  public reset() {
    this.createGraph()
  }


  public mounted() {

    sigma.canvas.nodes.choiceNodeRenderer = ChoiceNodeRenderer
    sigma.canvas.edges.choiceEdgeRenderer = ChoiceEdgeRenderer
    sigma.canvas.labels.choiceNodeRenderer = NodeLabelRenderer

    this.createGraph()

  }

}
</script>



<style scoped>
.node-choice-graph {
  left: 0;
  height: 800px;
}
</style>
