<template>
<div id="site" class="flex-vertical">

  <vue-tabs
   v-model="activeTabName"
   type="pills"
   centered
   activeTabColor="var(--color-color-1)"
   activeTextColor="var(--color-light-1)"
   @tab-change="handleTabChange"
  >
    <v-tab
     v-for="tabComp in tabComps"
     :key="tabComp[0]"
     :title="tabComp[0]"
     width="50%"
    />
  </vue-tabs>

  <router-view class="subpage"/>

</div>
</template>



<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { VTab, VueTabs } from 'vue-nav-tabs'
import 'vue-nav-tabs/themes/vue-tabs.css'
import VueRouter from 'vue-router'

import AnimPage from './AnimPage.vue'
import BooleanSat from './BooleanSat.vue'
import DPLL from './DPLL.vue'
import GraphTypes from './GraphTypes.vue'
import About from './About.vue'

const tabComps: Array<[string, string, any]> = [
  ['Animation', '/', AnimPage],
  ['Boolean Satisfiability', '/boolean-sat', BooleanSat],
  ['DPLL', '/dpll', DPLL],
  ['Graph Types', '/graph-types', GraphTypes],
  ['About', '/about', About]
]

Vue.use(VueRouter)

const routes = tabComps.map(tabComp => {
  return {
    path: tabComp[1],
    component: tabComp[2]
  }
})

const router = new VueRouter({
  mode: 'history',
  base: '/r-sat/',
  routes
})


@Component({
  components: { VueTabs, VTab },
  router
})
export default class Site extends Vue {

  private tabComps = tabComps
  private activeTabName = 'Animation' // Set to starting tab name

  private handleTabChange(tabIndex: number) {
    this.$router.push(tabComps[tabIndex][1])
  }

  public mounted() {

    window.document.title = '3-SAT and DPLL'

    let routePath = this.$route.fullPath
    if (routePath.endsWith('/')) routePath = routePath.substring(0, routePath.length - 1)
    const existingTabIdx = tabComps.map(tab => tab[1]).indexOf(routePath)
    if (existingTabIdx !== -1) this.activeTabName = tabComps[existingTabIdx][0]

  }

}
</script>



<style>

.flex {
  display: flex;
  justify-content: space-between;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex-item {
  position: relative;
  margin: auto;
}

h1 {
  color: var(--color-color-2);
  font-size: 48px;
}

.subpage {
  margin: 50px;
  text-align: left;
}

.plot {
  width: 100%;
  max-width: 800px;
}

</style>
